.add-btn{
    background-color: #47f277;
    padding: 3px 15px;
    color: white;
    border-radius: 3px;
    width:85px;
    border: none;
    box-shadow:0px 4px 4px 0px rgba(0,0,0,0.25);
}
.add-btn:hover{
    background-color: white;
    color: #47f277;
    border: 1px solid #47f277;
    cursor: pointer;
    transition: background 0.2s, transform 0.5s;
    box-shadow: none;
}
.delete-btn{
    background-color: #ef5905;
    padding: 1px 15px;
    color: white;
    border-radius: 3px;
    margin-bottom: 2px;
    border: none;
    box-shadow:0px 4px 4px 0px rgba(0,0,0,0.25); ;
}
.delete-btn:hover{
    background-color: white;
    color: #ef5905;
    border: 1px solid #ef5905;
    cursor: pointer;
    transition: background 0.2s, transform 0.5s;
    box-shadow: none;
}