td{
  color:white;
}
th{
  color:white;
}
.loading{
  height:100vh;
  width:100vw;
  background-color: black !important;
}
.loadingimg{
  width:50vw;
}
.react-responsive-modal-modal{
  overflow-x: hidden !important;
  overflow-y: hidden !important;
}