@import url('https://fonts.googleapis.com/css2?family=East+Sea+Dokdo&family=Oswald:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=East+Sea+Dokdo&family=Lato&family=Sevillana&family=Moon+Dance&family=McLaren&family=Montserrat&family=Oswald:wght@300&display=swap');

.App
  {
    max-width: 100vw;
    /* position: relative; */
  }
   .toasted{
    padding:0 10vw 0 10vw;
  } 
  .toaste{
    visibility:visible;
    width:100vw;
    padding-left:20vw;
    padding-right:20vw;    
  }
  .toastee{
    visibility:hidden;
  }
  .toast-head{
    width: 60vw;
  }

  .sp{
    margin: 0;
    padding: 0;
    position: relative;
}
.cross-button{
    cursor: pointer;
    color:#000000;
    font-size: 4vh;
    padding-left: 0.2vw;
    padding-top: 1vh;
}
.modal-bg
{
    background-color:black;
    color:white;
}
.moddd{
    min-width: 40vw;
}
.home-pad{
    padding-top:3vh;
}
.mod-top{
    font-family: Poppins;
    font-size:23px;
    font-weight: 600;
    padding-top: 5vh;
}
  .popp{
    top:5%;
    right:20%;
    position:absolute;
    width: fit-content;
    height: fit-content;
    background-image: url("https://images.unsplash.com/photo-1564069114553-7215e1ff1890?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1332&q=80");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    z-index:3;
  }
  .pop-body{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  /* .pop-but{
  } */
  .pop-2
  {
    height: fit-content;
    width: 60vw;
    margin-left: 5vw;
    margin-right: 5vw;
    margin-top: 0vh;
    margin-bottom: 5vh;
  }  
  .pop-button{
    margin-left: 5vw;
  }
  .pop-heading{
        margin-top: 0vh;
        font-family: Poppins;
        text-shadow: 1.4px 1.4px #000000;
        color:#ffffff;
        display: flex;
        justify-content: center;
        font-size: 4vh;
        font-weight: 400;
        padding-bottom: 2.5vh;
        padding-left: 5vw;
        padding-right: 5vw;
  }
  .pop-in{
    height: fit-content;
    padding: 5vh 5vw 5vh 5vw;
  }
@media (min-width: 1200px){
    .home-im{
        height:100%;
            width: 100%;
            height: auto;
    }
}
.home-im{
    width:100vw;
}

.form_container {
    margin-left: 5vw;
    display: flex;
    flex-wrap:wrap;
    width: 92vh;
    height: 46vh;
    color:#000000 ;
    overflow-wrap:inherit;
    /* background-color: white; */
    background-color: rgba(132, 75, 14, 0.456);  
    backdrop-filter: blur(30px);
    /* opacity:0.5; */
    box-shadow: 3px 4px 36px -6px rgba(0, 0, 0, 0.8);
    border-radius: 50px;
    text-shadow: 0.3px 0.3px rgb(164, 120, 120);
    padding-bottom: 5vh;
    position: relative;
}

  @media (max-width: 600px) {
    .form_container{
        margin-left: 0vw !important;
        width:100vw !important;
        height:fit-content !important;
        font-size: smaller;     
        background: none;
        border-radius: 0px !important;
        box-shadow: 0px 0px !important;
        padding-top:5vh ;
        z-index: 0;
        overflow-x: hidden !important;
    }
    .slide{
        z-index: -1 !important;
        width: 100vw !important;
        height: 100% !important;
        overflow-x: hidden !important;
    }
    .contain{
        width: 100vw !important;
        display:flex !important;
        flex-direction: column !important;
        justify-content: flex-start !important;
        overflow-x: hidden !important;
          
    }
    .top-Header,
    .top-middle{
        margin-left: 0vw !important;
        padding: 0 0 0 0 !important;
        width: 90vw !important;
        margin-right: 5vw !important;
    }
    .top-Header{
        font-size: 1.8em !important;
        width: 90vw !important;
    }
    .top-middle{
        font-size: 1.2em !important;
    }
    .top-loca{
        display: flex!important;
        justify-content: center!important;
        width: 80vw !important;
        padding-top: 5vh !important;
    }
  }
@media (max-height: 500px) {
    /* .form_container{
        width: 60vw !important;
    } */
    
    .top-Header{
        font-size: 2em;
    }
    .top-middle{
        font-size: 1em;
    }
    .form_container
    {
        width: 80vw !important;
    }
    /* .top-middle,
    .top-Header{
        width: 80vw !important;
        margin-left: 10vw !important;
        margin-right: 10vw !important;
    } */
}



.top-card{
    padding: 18px;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: Poppins;
}
.top-Header{
    padding: 4vh 3vw 4vh 3vw;
    font-size: 5vh;
    font-weight: 600;
}
.top-middle{
    padding: 4vh 3vw 4vh 3vw;
    font-size: 3vh;
}
.top-loca{
    padding: 0;
    width: 84.74vh;
    display: flex;
    justify-content:center ;
}
.slide{
    height: 91.2vh;
    position: relative;
    grid-area: overlap;
    align-self: center;
    justify-self: center;
}
.msg{
    grid-area: overlap;
    align-self: center;
    justify-self:self-start;
    z-index: 1;
}
.contain{
    display: grid;
    grid-template-areas: "overlap";
    overflow-y: hidden;
    width:100vw;
    overflow-x: hidden;
}
.Carou{
    height:98vh;
    overflow-y: hidden;
    background-color: #ffffff;
    background-image: url("https://www.transparenttextures.com/patterns/cubes.png");
    padding-bottom: 8vh;
}
@media (max-width: 900px) {
    .Carou{
        height:180vh;
    }
    .Carou-f1{
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }
    .Carou-f3,
    .carou-f2{
        width:90vw !important;
        margin-left: 5vw;
        margin-right: 5vw;
        max-width: 90vw!important;
    }
    .Carou-f3{
        font-size: 2vh !important;
    }
    .carou-f2,
    .Faqq{
        font-size: 4vh !important;
    }
}
@media(max-height:900px)
{
    .Carou{
        height:max-content;
    }
}
.Carou-f1{
    padding-top: 10vh;
    width:100vw;
    padding-left: 8vw;
    padding-right: 8vw;
    display: flex;
    justify-content: space-between;
    background-color: #ffffff;
    background-image: url("https://www.transparenttextures.com/patterns/cubes.png");
    z-index: -10;
}
.carou-f2{
    
    font-family: Poppins;
    text-shadow: 0.7px 0.7px #ff7700;
    color:#641919;
    display: flex;
    justify-content: center;
    font-size: 5vh;
    width: 52vw;
}
.Carou-f3{
    font-size: 2.5vh;
    font-family: Poppins;
    padding-left: 5vw;
    padding-right: 5vw;
    padding-top: 3vh;
    color:rgb(157, 11, 11);
    max-width: 50vw;
}
.test{
    color:black;
    font-weight: 700;
}

section::before{
    content: '';
    position: absolute;
    bottom: 0;
    width: 100vw;
    background: linear-gradient(to top, #ffffff,transparent);
    z-index: 2;
}
.nav-sticky{
    z-index: 2;
  }
  
.sec2::before{
    content: '';
    position: absolute;
    bottom: 0;
    width: 100vw;
    background: linear-gradient(to top, #ffffff,transparent);
    z-index: 2;
}
.sec2{
    padding-top: 7vh;
    display: flex;
    background-color: #ffffff;
    background-image: url("https://www.transparenttextures.com/patterns/cubes.png");
}
.part2{
    background-color: #ffffff;
    background-image: url("https://www.transparenttextures.com/patterns/cubes.png");
}
.Contact{
    padding-top: 15vh;
    font-family: Poppins;
    text-shadow: 0.7px 0.7px maroon;
    color: rgba(255, 4, 4, 0.456);
    display: flex;
    justify-content: center;
    font-size: 6.5vh;
    font-weight: 500;
}
.workk
{
    width: 100vw !important;
    padding-top: 15vh;
    font-family: Poppins;
    text-shadow: 0.7px 0.7px #ff7700;
    color:#641919;
    display: flex;
    justify-content: center;
    font-size: 5vh;
    padding-bottom: 3vh;
    text-align: center;
}
.Faqq{
    padding-top: 10vh;
    font-family: Poppins;
    text-shadow: 0.7px 0.7px #ff7700;
    color:#641919;
    display: flex;
    justify-content: center;
    font-size: 5vh;
    font-weight: 600;
    padding-bottom: 3vh;
}
.Faqq-q
{
        padding-top: 10vh;
        font-family: Poppins;
        text-shadow: 0.7px 0.7px #ac0e0e;
        color:#ffffff;
        display: flex;
        justify-content: center;
        font-size: 5vh;
        font-weight: 600;
        padding-bottom: 5vh;
}
.sec2-left{
    min-height:50vh;
    width:50vw;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
}
.sec2-right{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height:50vh;
    width:50vw;
}
.Amenities{
    background-color: #ffffff;
background-image: url("https://www.transparenttextures.com/patterns/cubes.png");
}
.part2{
    background-color: #ffffff;
background-image: url("https://www.transparenttextures.com/patterns/cubes.png");
}

@media (max-width: 800px) {
    .sec2{
        flex-direction: column !important;
        align-items: center;
        height: fit-content;
        justify-content: space-between;
    }
    .sec2-left,
    .sec2-right{
        width:90vw !important;
        padding-left: 5vw;
        padding-right: 5vw;
    }
    .sec2-left{
        height:fit-content !important;
        padding-bottom: 30vh !important;
    }
    .sec2-right{
        padding-top: 6vh;
    }
}
.Faq{
    padding-top:5vh;
    padding-left:3vh;
    padding-right:3vh;
    background-color: #ffffff;
    padding-bottom: 5vh;
    width: 100vw;
background-image: url("https://www.transparenttextures.com/patterns/cubes.png");
}
.imgbf{
    background-color: #ffffff;
    background-image: url("https://www.transparenttextures.com/patterns/cubes.png");
}
.work{
    width:100vw;
    /* background-color: #ffffff;
    
    background-image: url("https://images.unsplash.com/photo-1541746972996-4e0b0f43e02a?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center; */
    background-color: #050002;
background-image: url("https://www.transparenttextures.com/patterns/cubes.png"); 
}

.main{
    background-color: rgba(39, 145, 216,0.710);
    height: 100%;
    width: 100%;
    position:absolute;
    top: 0;
}
.popup{
    height: 400px;
    width: 50%;
    background-color: white;
    position: absolute;
    top: 25%;
    right: 25%;
}
.popup-header{
    display: flex;
    justify-content: space-between;
    padding: 0 30px 0 15px;
    border-bottom: 2px solid black;
}
.App
  {
    max-width: 100vw;
    /* position: relative; */
  }
  .Appo
  {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    max-width: 100vw;
    /* position: relative; */
  }
  .top-Header,.top-middle{
    color:azure;
  }

  .mod_button{
    background-color: #47aaf2;
    margin-top: 3vh;
    
    border-radius: 4px;
    border: none;
    color: white;
    padding: 1vh 2.5vw;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    /* transform: translateY(-3.5px); */
  }
  
  .mod_button:hover {
    background-color: white;
    color: #47aaf2;
    cursor: pointer;
    border: 2px solid #47aaf2;
    transition: background 0.2s;
    box-shadow: none;
  }

  .customervideo{
    background-color:#848181 !important;
    /* background-image: url("https://res.cloudinary.com/dqy7m95yz/image/upload/v1695187724/WhatsApp_Image_2023-09-19_at_22.42.07_kihrv2.jpg")!important;
    background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  background-size: cover; */
    padding-bottom:5vh; 
}
.transfaq1{
    min-height:10vh;
    background-image: linear-gradient(
      to bottom,
      #d9d9d9,
      #848181
      
    );
}
.transfaq2{
    min-height:10vh;
    background-image: linear-gradient(
      to bottom,
      #848181,
      #20262e
    );
}

input[type="checkbox"] {
    -ms-transform: scale(2);
    -moz-transform: scale(2);
    -webkit-transform: scale(2);
    -o-transform: scale(2);
    transform: scale(1.5);
    padding: 10px;
}